<main>
    <lastFetchedReleaseVersion>1.4.0-9.06779.0</lastFetchedReleaseVersion>
    <lastFetchedLatestVersion>1.4.1-9.07166.0</lastFetchedLatestVersion>
    <acpanelVersion>0.1.3</acpanelVersion>
    <acpanelUrl>http://nightly.mtasa.com/ver/acpanel/update/</acpanelUrl>
    <blockmods.type>all</blockmods.type>
    <minclientconfig.type>latest</minclientconfig.type>
</main>
